/*--------------------------The introduction---------------------*/
.introduction
{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5rem;
    margin-top: 10rem;
}
.mainText
{
    width: 100%; 
    margin: 0;
}
.mainText > * {
    display: block;
    width: 100%;
}
.title 
{
    font-style: bold;
    text-align: center;
    margin: 0;
    padding: 6rem 0;
}
.links 
{
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.links a 
{
    margin: 0 1rem;
    color: black;
    text-decoration: underline;
}
.subtitle-text
{
    color: rgb(105, 99, 87);
    text-align: center;
    margin: 0;
}
.subtitle 
{
    color: rgb(105, 99, 87);
    text-align: center;
    margin: 1rem 0;
}
