/*Rules*/
html 
{
    font-size: 16px;
    line-height: 1.5rem;
    background-color: rgb(246, 238, 225);
}
h1
{
    font-size: 6rem;
}
p
{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}
body
{
    margin: 0;
}
/* 0 margin at the figure <img>*/
figure
{
    margin: 0;
}
/*The most part of the website*/
main
{
    max-width: 60rem;
    margin: 5rem auto;
}
/*Footer Line*/
footer
{
    margin: 5rem auto;
    border-top: 2px solid rgb(0, 0, 0);
    width: 80%;
}


@media screen and (max-width: 560px)
{
    h1 
    {
        font-size: 4rem;
        line-height: 150%;
    }
}
@media (min-width: 2000px) {
    html {
        font-size: 24px; 
    }
}

@media (min-width: 3000px) {
    html {
        font-size: 32px;
    }
}


